@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.wrapper .sidebar ul li div{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li div .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.sideTitle{
  color: #dee4ec;

}
.entry{
  padding-top: 4px;
  padding-bottom: 10px;
}
.entry:hover{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li div:hover:before,
.wrapper .sidebar ul li div.active:before{
    display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 3px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-edit {
  background: steelblue;
  border: none;
}

.btn:hover {
  transform: scale(0.98);
}

.progress-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 600px;
  text-align: center;
  position:relative;
}
.progress{
  width: 100%;
  border-radius: 10px;
}
.progress::-webkit-progress-bar{
  background-color:#0079cc;
  border-radius: 10px;

}
.progress::-webkit-progress-value{
  background-color: rgb(243, 251, 131);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress::after{
  content: "You are " attr(value) "%" " done towards making your wish!";
}

.vscontainer{
  width: 800px;
  height: 500px;
  margin-left: 400px;
  align-items: center;
  position:absolute;
  margin-top: 0px;
  
}
.vsbutton{
  margin-left: 220px;
  margin-top: 10px;
  width: 90px;
  height: 30px;
  background-color: rgb(243, 251, 131);
  color: #0079cc;
  position:relative;
}

.vscontainer::before{
  color:rgb(50, 3, 112);
  margin-left: 220px;
  font-size: x-large;
  content: "Thank you for completing our form!!";
  position:relative;
}

.referall{
  margin-left: 400px;
  width: 800px;
  color:rgb(39, 117, 70);
  align-items: center;
  position: absolute;
}

.section2{
  margin-top: 50px;
  color:#10558d
}

