@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    margin-right: 5px;
    transition: all 0.5s ease;
    user-select: none;
}

.wrapper .sidebar ul li div{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li div{
  cursor:pointer;
}

.wrapper .sidebar ul li div .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.sideTitle{
  color: #dee4ec;
  display: flex;
  justify-content: center;
}
.entry{
  padding-top: 4px;
  padding-bottom: 10px;
}
.entry:hover{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li div:hover:before,
.wrapper .sidebar ul li div.active:before{
    display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 3px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-edit {
  background: steelblue;
  border: none;
}

.btn:hover {
  transform: scale(0.98);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* Form stuff
*/

.remove-button {
  display: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.split-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}


.question {
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  font-size: 100px;
}

.transition-text{
  animation: fadeInOut 4s linear 1 forwards;

}

.field-input{
  align-self: center;
  text-align: center;
  width: 50%;
}

.animated {
  overflow: hidden;
  width: 11rem;
  white-space: nowrap;
}

.animated > * {
  display: inline-block;
  position: relative;
  animation: 3s linear 0s infinite alternate move;
}

.animated > *.min {
  min-width: 100%;
}

.floater{
  left: 100%;
  animation-iteration-count: 1;
  animation: moveIn ease 2s;
}

.parameter{
  font-size: large;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
  width: 100%;
  text-align: center;
}

input:invalid {
  outline: 2px solid red;
  background-color: rgb(255, 255, 139);
}



input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.barmarker-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.barmarker {
  width: 100%;
  display: grid;
  place-content: center;
}

.barmarker:is(:not(:last-child)) {
  border-right: 1px solid #000;
}

.progress {
  width: 100%;
  height: 24px;
}

.form {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
}

.button:focus {
  outline: 2px solid gold;
}


input,
select {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}


/*Form stuff end */
body{
  height: 100%;
}
.conform{
  position:absolute;
  right:0;
  width: calc(100% - 225px);
  height: 700px;
  border-radius: 200;
  background-color: #828282;
  align-items: flex-end;
  position:right;
}

.marker{
  border-color: #000;
  border-radius: 2px;
  display: table;

}

@keyframes fadeInAnimation {
  
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}



@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveIn {
  0%,
  25% {
    transform: translateX(100%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(0%);
    left: 100%;
  }
}

@keyframes moveOut {
  0%,
  25% {
    transform: translateX(100%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}