@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(8, 99, 151);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    margin-right: 5px;
    transition: all 0.5s ease;
    user-select: none;
}

.wrapper .sidebar ul li div{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li div{
  cursor:pointer;
}

.wrapper .sidebar ul li div .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.sideTitle{
  color: #dee4ec;
  display: flex;
  justify-content: center;
}
.entry{
  padding-top: 4px;
  padding-bottom: 10px;
}
.entry:hover{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li div:hover:before,
.wrapper .sidebar ul li div.active:before{
    display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 3px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.header-center{
  right: 50%;
  margin-left: 500px;
  font-size: 2rem;
  font-weight: 700;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-edit {
  padding: 10px 20px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  background: steelblue;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(0.98);
}

.progress-container {

  width: 5000px;
  text-align: center;
  position: relative;
  
}
.progress{
  width: 1000px;
  height: 100px;
  border-radius: 120px;
}
.progress::-webkit-progress-bar{
  background-color:#0079cc;
  border-radius: 10px;

}
.progress::-webkit-progress-value{
  background-color: rgb(243, 251, 131);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress::after{
  content: "You are " attr(value) "% closer towards making your wish!" ;
  font-size: 30px;
}

.vscontainer{
  align-items: center;
    
}
.vsbutton{
  margin-left:450px;
  width: 400px;
  height: 200px;
  font-size: 40pt;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background: #0079cc;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease;
  margin-bottom: 30px;
}

.vsbutton:hover {
  transform: scale(0.99);
}
.vscontainer::before{
  color:rgb(50, 3, 112);
  margin-left:225px;
  font-size: 50px;
  content: "Thank you for completing our form!!";
  position:relative;
}

.referall{
  margin-left: 400px;
  width: 800px;
  color:rgb(39, 117, 70);
  font-size: 25px;
  align-items: center;
  position: absolute;
}

.referall::before{
  content: "Thank you!!!";
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
  margin-left: 300px;
}

.section1{
  margin-top: 30px;
}

.section2{
  margin-top: 50px;
  color:#10558d;
}



/* Form stuff
*/

.remove-button {
  display: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.split-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}


.question {
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  font-size: 100px;
}

.transition-text{
  animation: fadeInOut 4s linear 1 forwards;

}

.field-input{
  align-self: center;
  text-align: center;
  width: 50%;
}

.animated {
  overflow: hidden;
  width: 11rem;
  white-space: nowrap;
}

.animated > * {
  display: inline-block;
  position: relative;
  animation: 3s linear 0s infinite alternate move;
}

.animated > *.min {
  min-width: 100%;
}

.floater{
  left: 100%;
  animation-iteration-count: 1;
  animation: moveIn ease 1.5s;
}

.parameter{
  font-size: large;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
  width: 100%;
  text-align: center;
}

input:invalid {
  outline: 2px solid red;
  background-color: rgb(255, 255, 139);
}



input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: whitesmoke;
}

.barmarker-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.barmarker {
  width: 100%;
  display: grid;
  place-content: center;
}

.barmarker:is(:not(:last-child)) {
  border-right: 1px solid #000;
}

.progress {
  width: 100%;
  height: 24px;
}

.form {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
}

.button:focus {
  outline: 2px solid gold;
}


input,
select {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}


/*Form stuff end */
body{
  height: 100%;
}

/* center stuff in the content area with respect to sidebar*/
.conform{
  position:absolute;
  right:0;
  width: calc(100% - 225px);
  height: 700px;
  border-radius: 200;
  background-color: #828282;
  align-items: flex-end;
  position:right;
}


.centerer{
  position:absolute;
  right:0;
  width: calc(100% - 225px);
  height: 700px;
  border-radius: 200;
  background-color: rgb(242, 242, 242);
  align-items: flex-end;
  position:right;
}

.marker{
  border-color: #000;
  border-radius: 2px;
  display: table;

}

@keyframes fadeInAnimation {
  
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}



@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveIn {
  0%,
  25% {
    transform: translateX(100%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(0%);
    left: 100%;
  }
}

@keyframes moveOut {
  0%,
  25% {
    transform: translateX(100%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.btn-big-blue {
  padding: 10px 20px;
  border: 1px solid #00234b;
  border-radius: 5px;
  background: #0057B8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.btn-big-blue:hover {
  transform: scale(1.01);
}

.btn-big-blue:active {
  transform: scale(.95);
}

#welcome p {
  margin:0 15% 0 15%;
}


#welcome {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left,#00418b,#00234a);

}

#welcome .sideimage {
  overflow: hidden;
  height: 100%;
  max-width: 25vw;
}

#welcome .logo {
  max-height:7%;
  margin: 3% auto 0px auto;
  
}
#welcome button {
  margin: 0 3% 0 3%;
}

#maincontainer {
  display: flex;
  flex-direction: column;
  width:50%;
  height:100%;
  box-shadow: 0px 2px 5px 2px black;
  background-color: white;
  text-align: center;
  z-index: 10;
}

.welcomepage-item {
  display:flex;
  justify-content: center;
  margin:2%;
}


/* Login stuff*/
.login-body{
  background-image: url('https://ordinaryfaith.net/wp-content/uploads/2016/03/Gray-plain-website-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.login-form {
  position: relative;
  z-index: 1;
  background: #42b19b;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
.login-form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
  
}
.login-form button {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #11ca6d;
  width: 100%;
  border: 0;
border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;


}
.login-form button:hover,.login-form button:focus {
  background: #148f77;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.login-form button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.login-form .message {
  
  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;

}
.login-form .message a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
.login-form .register-form {
  display: none;
}
.login-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.login-container:before, .login-container:after {
  content: "";
  display: block;
  clear: both;
}
.login-container .info {
  margin: 50px auto;
  text-align: center;
}
.login-container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-container .info span a {
  color: #000000;
  text-decoration: none;
}
.login-container .info span .fa {
  color: #EF3B3A;
}
.login-body {
  background: #2f57ce; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.signup-form {
  position: relative;
  z-index: 1;
  background: #48c9b0;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
.signup-form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
  
}
.signup-form button {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #17a589;
  width: 100%;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;

}
.signup-form button:hover,.signup-form button:focus {
  background: #148f77;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.signup-form button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.signup-form .signup-message {
  
  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;

  

}
.signup-form .signup-message a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
.signup-form .register-form {
  display: none;
}
.signup-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.signup-container:before, .signup-container:after {
  content: "";
  display: block;
  clear: both;
}
.signup-container .signup-info {
  margin: 50px auto;
  text-align: center;
}
.signup-container .signup-info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.signup-container .signup-info span {
  color: #4d4d4d;
  font-size: 12px;
}
.signup-container .signup-info span a {
  color: #000000;
  text-decoration: none;
}
.signup-container .signup-info span .fa {
  color: #EF3B3A;
}
